*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.cabecalho{
    margin-top: 5%;
}

.header1{
    background-color: #1b8e99;
    width: 980px;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.imagem_nav{
    align-self: center;
    position: relative;
    margin-left: 15px;
    margin-right: 135px;
    margin-top: 5%;
}

.header1_botoes{
    width: 980px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

.texto_header1{
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    display: flex;
}

.texto_header1:hover{
    position: relative;
    background-color: #92C9CE;
    padding: 20px 10px 20px 10px;
}

.header2{
    background-color:#660000;
}
.header2_botoes{
    width: 980px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    margin-right: 2%;
    margin-left: 2%;
}

.texto_header2{
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    display: flex;
}

.texto_header2:hover{
    position: relative;
    background-color: white;
    color: #660000;
    padding: 20px 10px 20px 10px;
}

.imagem_principal{
    margin-bottom: -0.5%;
}